html * {
   font-size: 1.5em; 
   font-family: Arial;
	}
body {
	height:90%;
	background-color: #083B4D;
	}
.menu {
    color:black;
	}
.rowGap{
    height: 4.5%;
	}
.element{
	height: 11%	
	}
.title_label{
	font-size: bigger;
	color: white;
	}
.control_label{
	height:50%;
	width:100%;
	font-size: smaller;
	color: white;
	}
.center{
	text-align:center; 
	vertical-align: top;
	}
.powerOff{
	background-color:darkred;
	color:white;
	}
.powerOn{
	background-color:#33cc33;
	color:black;
	}
.selection{
	background-color:#33cc33;
	}
select {
	-webkit-appearance: menulist-button;
    height: 100%;
	line-height:100%;
    text-align: center;
	}

.control_button, select {
	text-transform: none;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: inherit;
	}



