html *
{
   font-size: 20px; 
   font-family: Arial;
}

body {
height:100%
	}


.menu {
    background-color:gray;
    color:black;
    padding:3em;
    border:0.5em solid black;
    height: 100%
	}
.rowGap{
    margin-bottom: 1em;
}
.menuRow{
	height: 12.5%	
}
.menuTitle{
	text-align:center; 
}
.powerOff{
	background-color:darkred;
	color:white;
	}
.powerOn{
	background-color:#33cc33;
	color:black;
	}
.selection{
	text-align: center;
	background-color:#33cc33;
	}
select {
	-webkit-appearance: menulist-button;
	height: 100%
	line-height:100%;
}

button, select {
	text-transform: none;
	height: 100%;
	width: 100%;
	text-align: center;
}


