<div class="col-sm-12 menu">
	<div class="rowGap"></div>
        <div class="row element">
		<div class="col-sm-1 center"></div>
        <div class="col-sm-10">
        <select class="control_button" id="zone_select" onchange="doAssignZone()" ng-model="selectedZone" required 
        	ng-options="zone.positionAddress as zone.zoneName for zone in zoneSettings">
        </select>
        </div>
        <div class="col-sm-1 center"></div>
    </div>
    <div class="rowGap"></div>
    <div class="row element">
		<div class="col-sm-1 center"></div>
	    <div class="col-sm-10">
            <button class="powerOff control_button" id="TOGGLE_Power">Zone Power OFF</button>
        <div class="col-sm-1 center"></div>
        </div>
    </div>
    <div class="rowGap"></div>
    <div class="row element">
        <div class="col-sm-12">
            <select class="control_button" id="source_select" onchange="doAssignSource()" ng-model="selectedSource" required
            	ng-options="source.positionAddress as source.sourceName for source in sourceSettings">
            </select>
        </div>
    </div>
    <div class="rowGap"></div>
    <div class="row element">
        <div class="col-sm-4 center"><button class="control_button" id="ATTR_Treble_DOWN"><i class="fa fa-chevron-down" aria-hidden="true"></i></button></div>
            <div class="col-sm-4"> 
				<div class="row">
					<div class="col-sm-4 control_label center">Treble</div>
					<div class="col-sm-4 control_label center" id="ATTR_Treble_Label">0</div>
				</div>
            </div>
	    <div class="col-sm-4 center"><button class="control_button" id="ATTR_Treble_UP"><i class="fa fa-chevron-up" aria-hidden="true"></i></button></div>
    </div>
    <div class="rowGap"></div>
    <div class="row element">
		<div class="col-sm-4 center"><button class="control_button" id ="ATTR_Bass_DOWN"><i class="fa fa-chevron-down" aria-hidden="true"></i></button></div>
			 <div class="col-sm-4"> 	
				<div class="row">
					<div class="col-sm-4 control_label center">Bass</div>
					<div class="col-sm-4 control_label center" id="ATTR_Bass_Label">0</div>
				</div>
			</div>	    
		<div class="col-sm-4 center"><button class="control_button" id="ATTR_Bass_UP"><i class="fa fa-chevron-up" aria-hidden="true"></i></button></div>
    </div>
    <div class="rowGap"></div>
    <div class="row element">
		<div class="col-sm-4 center"><button class="control_button" id="ATTR_Volume_DOWN"><i class="fa fa-volume-down" aria-hidden="true"></i></button></div>
			 <div class="col-sm-4"> 	
				<div class="row">
					<div class="col-sm-4 control_label center">Volume</div>
					<div class="col-sm-4 control_label center" id="ATTR_Volume_Label">0</div>
				</div>
			</div>	    
	    <div class="col-sm-4 center"><button class="control_button" id="ATTR_Volume_UP"><i class="fa fa-volume-up" aria-hidden="true"></i></button></div>
    </div>
    <div class="rowGap"></div>
    <div class="row menuRow element">
		<div class="col-sm-1 center"></div>
		<div class="col-sm-2 center"><button class="control_button" id="configMenu"><i class="fa fa-gears" aria-hidden="true"></i></button></div>
		<div class="col-sm-1 center"></div>
		<div class="col-sm-4 center">
            <button class="control_button" id="TOGGLE_Mute">Mute</button>
        </div>
        <div class="col-sm-1 center"></div>
		<div class="col-sm-2 center"><button class="control_button" id="aboutProgram"><i class="fa fa-question" aria-hidden="true"></i></button></div>
		<div class="col-sm-1 center"></div>
	</div>
</div>

