<div class="col-sm-12 menu">
	<div class="rowGap"></div>
        <div class="row element">
		<div class="col-sm-1 center"></div>
        <div class="col-sm-10">
        <select class="control_button" id="zone_select" ng-change="assignZone()" ng-model="controlStatus.ObjectCode.zone"
        	ng-options="zone.positionAddress as zone.zoneName for zone in zoneSettings">
        </select>
        </div>
        <div class="col-sm-1 center"></div>
    </div>
    <div class="rowGap"></div>
    <div class="row element">
		<div class="col-sm-1 center"></div>
	    <div class="col-sm-10">
            <button ng-click="toggleButton(powerSettings)" class="powerOff control_button" id="TOGGLE_Power">Zone Power OFF</button>
        <div class="col-sm-1 center"></div>
        </div>
    </div>
    <div class="rowGap"></div>
    <div class="row element">
        <div class="col-sm-12">
            <select class="control_button" id="source_select" ng-change="assignSource()" ng-model="controlStatus.Source" required
            	ng-options="source.positionAddress as source.sourceName for source in sourceSettings">
            </select>
        </div>
    </div>
    <div class="rowGap"></div>
    <div ng-repeat="rangeControl in rangeControls | filter:{ visibleStatus: 1 }">
	    <div class="row element">
	        <div class="col-sm-4 center"><button ng-click="rangeControlClick(rangeControl, 'DOWN')" 
	        	class="control_button"><i class="{{rangeControl.downIcon}}" aria-hidden="true"></i></button></div>
	            <div class="col-sm-4"> 
					<div class="row">
						<div class="col-sm-4 control_label center">{{rangeControl.displayName}}</div>
						<div class="col-sm-4 control_label center" id="ATTR_{{rangeControl.displayName}}_Label">{{controlStatus[rangeControl.displayName]}}</div>
					</div>
	            </div>
		    <div class="col-sm-4 center"><button ng-click="rangeControlClick(rangeControl, 'UP')" 
		    	class="control_button"><i class="{{rangeControl.upIcon}}" aria-hidden="true"></i></button></div>
	    </div>
	    <div class="rowGap"></div>
    </div>
    <div class="row menuRow element">
		<div class="col-sm-1 center"></div>
		<div class="col-sm-2 center"><button class="control_button" id="configMenu"><i class="fa fa-gears" aria-hidden="true"></i></button></div>
		<div class="col-sm-1 center"></div>
		<div class="col-sm-4 center">
            <button ng-click="toggleButton(muteSettings)" class="control_button" id="TOGGLE_Mute">Mute</button>
        </div>
        <div class="col-sm-1 center"></div>
		<div class="col-sm-2 center"><button class="control_button" id="aboutProgram"><i class="fa fa-question" aria-hidden="true"></i></button></div>
		<div class="col-sm-1 center"></div>
	</div>
</div>

