<div class="settings-container">
  <accordion close-others="oneAtATime">
  	<accordion-group ng-repeat="grid in grids" heading="{{grid.header}}" is-open="grid.open">
      	<div ng-if="grid.open" ui-grid-selection class = "gridStyle" ui-grid="grid.options"
      		ui-grid-edit ui-grid-row-edit ui-grid-cellNav
			style="height: {{(grid.options.data.length+2)*grid.options.rowHeight}}px" ui-grid-cellNav ui-grid-auto-resize ui-grid-edit>
	  	</div>
	  	<div ng-if="grid.header == 'Attribute Settings'">
			<div class="row element">
			  <div class="col-sm-7 loneSetting">Mobile Control Mode</div>
			  <div class="col-sm-5">
				  <div class="btn-group pull-right">
				    <label class="btn btn-primary controlModeButton" btn-radio="0" ng-model="slidersOn" ng-change="toggleSliders()">Buttons</label>
				    <label class="btn btn-primary controlModeButton" btn-radio="1" ng-model="slidersOn" ng-change="toggleSliders()">Sliders
				    </label>
				  </div>
			    </div>
		   </div>
		</div>
    </accordion-group>
  </accordion>
  
  <script id="template/accordion/accordion-group.html" type="text/ng-template">
    <div class="accordion-group">
        <div class="accordion-heading" ><a class="accordion-toggle" ng-click="isOpen = !isOpen" accordion-transclude="heading">{{heading}}</a></div>
        <div class="accordion-body" ng-show="isOpen">
            <div class="accordion-inner" ng-transclude></div>
        </div>
    </div>
</script>
</div>
